form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: center;
    margin-top: 200px;
}
  
label{
    margin-bottom: 30px;
}
  
input{
    padding: 10px;
    border: 2px solid rgb(80, 80, 80);
    border-radius: 5px;
}
  
button {
    padding: 10px 20px;
    background-color: #4c6baf;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px
}

p{
    color: red;
}